
html,
body {
    height: 100vh;
    margin: 0;
}

body {
    font-family: "montserrat", Arial, Helvetica, sans-serif;
}

.header-container, 
footer {
    background-color: rgba(112, 112, 112,.2);
    color: #0A3641
}

/* Home header */
header {
    position: relative;
    text-align: center; 
    width: 100%;
}

.header-container {
   display: flex;
   justify-content: space-between;
   gap: 20px;
   padding: 15px;
}

.logo-header {
    max-width: 100px;
}

.search {
    background-color: #fff;
    align-items: center;
    margin: 5px 5px;
    padding: 5px;
    border-radius: 15px;
    font-size: 10px; 
    height: 20px;
    width: 30%;
}

.header-icons a {
    text-decoration: none; 
    color: #0A3641;  
}


.header-icons {
   display: flex; 
   gap: 20px;
   text-align: center;
}

.header-icons i {
    display: block;
    font-size: 16px;
}

#menu-checkbox, .hamburger-icon {
  display: none;  
}

nav {
    text-align: center;
}

nav a {
    color: #0A3641;
    text-decoration: none;
    font-weight: 1.5em;
    font-size: 16px;
    padding: 10px; 
}

nav li {
    display: inline-block;  
}

nav ul {
    padding: 0px;  
}


.active {
text-decoration: underline;
}

nav a:hover {
    text-decoration: underline; 
}

/* Home header main */
main {
    background-color: #f3f4f4;
    color: #0A3641;
}

.banner-container {
    max-width: 100%;
    border: 1px;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.banner__image {
    max-width: 100%;
    height: 300px;   
}

.cta__banner {
    display: flex;
    width: max-content;
    background-color: #0A3641;
    color: #BF8C60;
    text-decoration: none;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    font-size: 24px;
} 

.banner-content {
 
    max-width: 500px;
    height: 300px;
    background-color: #ffff; 
    font-family: 'lato', 'montserrat', Arial, Helvetica, sans-serif;  
}

h1 {
 font-size: 2em;
text-align: center;

}

span {
    font-size: 2em;
    color: #BF8C60;
}

img {
    max-width: 100%;
}

.all-news {
    margin-left: 30px;
    color:#0A3641;
    text-decoration: none;
    font-weight: bolder; 
}

.all-news:hover {
    text-decoration: underline; 
}

.products-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px 30px;
    margin-bottom: 30px;
    background-color: rgba(112, 112, 112,.2);
}

.product-card {
    flex: 1;  
}

.product__image {
    width: 100%;
    height: 288px;
   
    background-color: #fff;
    object-fit: cover;
}

h2 {
    display: block;
    font-size: 14px;
    text-align: left;
    font-weight: bolder;
}

.product__price {
    display: block;
    color: #BF8C60;
    text-align: left;
}

.categories {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.category {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position: center;
    min-height: 50vh;
    width: 25%;
}
.categorie-exploring {
    background-image: url("../images/exploring-home.jpg"); 
}

.categorie-hiking {
    background-image: url(../images/hiking-home.jpg);  
}

.categorie-camping {
    background-image: url(../images/camping-home.jpg);  
}

.cta__categorie {
    position: absolute;
    left: 60px;
    top: 260px;
    background-color: #0A3641;
    color: #BF8C60;
    text-decoration: none;
    font-size: 24px;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
}
   

/*Jacket specification site */
.back {
    color:#0A3641;
    text-decoration: none;
    font-weight: bolder;
}

.image-specification {
    max-width: 40%;
}

.cta-large {
    background-color: #0A3641;
    color: #BF8C60;
    text-decoration: none;
    font-size: 24px;
    padding: 5px 20px 5px 20px;
    border-radius: 5px; 
}



/* Contact page */
input, select, textarea {
    border: 1px solid #0A3641;
}  
    

.image-contact {
    max-width: 40%;
}

.cta_send {

}

/* About page */
.about {
    display:flex;
    flex-direction: row;
    gap: 30px;
    
}

.about-image {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.about-info {
    flex-basis: 500px;
}

/* Checkout page */
.image-checkout {
    max-width: 15%;  
}

 
/* footer */
.footer-container {
    margin: 30px 30px 30px 30px;
    display: grid;
    grid-auto-flow: column;
    gap: 10em;
    justify-content: center;
  }

  h3 {
    font-size: 1.5em;
    text-align: center;
  }

  footer ul {
    line-height: 1.6;
    list-style-type: none;
    color:#0A3641;
  }

@media(max-width: 1000px){
    .product-featured {
        flex:1 0 48%;
    }

}

@media(max-width: 670px){
    .products-container, .categories {
        flex-direction: column;
    }

    .category {
        width: 100%;
    }
}


  @media(max-width:500px){
    .hamburger-icon {
        display: inline-block;
    }

    nav {
        display: none;
    }

    #menu-checkbox:checked ~ nav {
        display: block;
    }


  }